@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Kumbh Sans", "serif";


  /* backgrounds */
  --color-softWhite: #f7f7f7;
  --color-darkBlue: #0b1d3a;
  /* text colors */
  --color-darkNavy: #0b1d3a;
  --color-offWhite: #f7f7f7;

  /* accents */
  --color-tealishGreen: #49bf9d;

 
  --breakpoint-sm: 420px;
  --breakpoint-md: 768px;
  --breakpoint-mdlg: 1000px;
  --breakpoint-lg: 1280px;
}
h2 {
  @apply relative pb-0.5 inline-block;
}

h2::after {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 h-[2px] w-[80px] md:w-[100px] bg-amber-950 rounded-2xl;
  content: "";
}

html {
  @apply scroll-smooth scroll-p-20;
}
